/ManejoExcepciones2/nbproject/private/
/ManejoExcepciones2/build/
/ManejoExcepciones2/dist/
/ManejoColecciones/nbproject/private/
/ManejoColecciones/build/
/ManejoGenericos/nbproject/private/
/ManejoGenericos/build/
/ManejoColeccionesGenericas/nbproject/private/
/ManejoColeccionesGenericas/build/
/CalculadoraEntradaDatos/nbproject/private/
/CalculadoraEntradaDatos/build/
/ManejoArchivos/nbproject/private/
/ManejoArchivos/build/